/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

#form{float:right; padding-right:8px; line-height:40px;}
.content_wrapper{
width:1000px;

margin:auto;
background:pink;
}

#content_area{
width:800px;

float:right;
background:pink;
}

#sidebar{
width:200px;


float:left;
}

#sidebar_title{
font-weight:bolder;
color:black;
font-size:30px;
font-family:Ariel;
padding:10px;
text-align:center;
}

#cats{
text-align:center;
}

#cats li{list-style:none; margin: 5px;}
#cats a{color:white; padding: 8px; margin: 5px; text-align:center; text-decoration:none; font-size:24px; font-family:Ariel;}

#cats a:hover{color:orange; font-weight:bolder; text-decoration:underline;}


#products_box{
width:780px;
text-align:center;
margin-left:30px;
margin-bottom:10px;
}

	#single_product{float:left; margin-left:30px;padding:10px;}

	#shopping_cart{width:800px; height:50px; background:black; color:white;}


